<%= content_for :head_extra do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/chessboard.css">
<% end %>

<h1 style="text-align: center; padding-bottom: 30px;">Game: <%= @game.id %></h1>

<div
  data-controller="game"
  data-game-fen-value="<%= @game.board.to_fen %>"
  data-game-id-value="<%= @game.id %>"
  style="display: flex; flex-direction: row; justify-content: center;"
>
  <div id="moves">
    <h3 style="margin: 0 0 0 20px">Moves</h3>
    <ul data-game-target="moves" style="
      height: 462px;
      overflow: scroll;
      width: 100px;
      margin-bottom: 0;
      margin-right: 20px;
    ">
      <li data-game-target="move" data-fen="<%= Board::INITIAL_FEN %>">--</li>
      <% @game.moves.each_with_index do |move, i| %>
        <li data-game-target="move" data-fen="<%= @game.fens[i + 1] %>"><%= move %></li>
      <% end %>
    </ul>
  </div>
  <div style="width: 500px;">
    <div id="board"></div>
    <br>
    <div data-game-target="message" style="text-align: center">
      <%= @game.current_message %>
    </div>
  </div>

  <div id="actions" style="margin-left: 20px;">
    <button data-action="click->game#submit" data-url="<%= game_update_path(@game, force: false) %>">Submit Move</button>
    <br>
    <button data-action="click->game#submit" data-url="<%= game_update_path(@game, force: true) %>">Hard Reset</button>
  </div>
</div>
