<%= content_for :head_extra do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/chessboard.css">
<% end %>

<h1 style="text-align: center; padding-bottom: 30px;">Game: <%= @game.id %></h1>

<div
  data-controller="game"
  data-game-fen-value="<%= @game.board.to_fen %>"
  data-game-id-value="<%= @game.id %>"
  style="display: flex; flex-direction: row;"
>
  <div id="moves">
    <h3>Moves</h3>
    <ul data-game-target="moves">
      <li data-game-target="move" data-fen="<%= Board::INITIAL_FEN %>">--</li>
      <% @game.moves.each_with_index do |move, i| %>
        <li data-game-target="move" data-fen="<%= @game.fens[i + 1] %>"><%= move %></li>
      <% end %>
    </ul>
  </div>
  <div id="board" style="width: 500px; margin: 0 auto;"></div>
</div>
